<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= wines.brand %></title> <!-- may need to add the 's'-->
</head>
<body>
    <%- include('../partials/navbar.ejs') %>
    <h1><%= wines.brand %> - <%= wines.varietal %></h1>

        <p>Country: <%= wines.country %></p>
        <p>Brand: <%= wines.brand %></p>
        <p>Type: <%= wines.type %></p>
        <p>Varietal: <%= wines.varietal %></p>
        <p>ABV: <%= wines.abv %>%</p>
        <p>Review: <%= wines.review %></p>



<!-- the rest of the code from the skyrockit lesson is allowing you to view the job posting. not sure if it is needed here since that isn't what we are doing but worth it to make a note.-->
</body>
</html>