<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <title><%= wines.brand %></title>
</head>
<body>
    <div class="flex-container">
        <div>
            <h1><%= wines.brand %> - <%= wines.varietal %></h1>
        </div>
        <div>
            <h2><%- include('../partials/navbar.ejs') %></h2>
        </div>
        <div>
            <p>Country: <%= wines.country %></p>
            <p>Brand: <%= wines.brand %></p>
            <p>Type: <%= wines.type %></p>
            <p>Varietal: <%= wines.varietal %></p>
            <p>ABV: <%= wines.abv %>%</p>
            <p>Review: <%= wines.review %></p>
        </div>
        <div>
            <button>
                <a href="/users/<%= user._id %>/wines/<%= wines._id %>/edit">Sip, Smile, Repeat. Edit this wine.</a>
            </button>
        </div>
        <div>
            <form
                action="/users/<%= user._id %>/wines/<%= wines._id %>?_method=DELETE"
                method="POST">
                <button type="submit">Yuck! Delete this wine!</button>
            </form>
        </div>
    </div>
</body>
</html>