<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <title><%= wines.brand %></title> <!-- may need to add the 's'-->
</head>
<body>
    <%- include('../partials/navbar.ejs') %>
    <h1><%= wines.brand %> - <%= wines.varietal %></h1>

        <p>Country: <%= wines.country %></p>
        <p>Brand: <%= wines.brand %></p>
        <p>Type: <%= wines.type %></p>
        <p>Varietal: <%= wines.varietal %></p>
        <p>ABV: <%= wines.abv %>%</p>
        <p>Review: <%= wines.review %></p>
    <a href="/users/<%= user._id %>/wines/<%= wines._id %>/edit">Sip, Smile, Repeat. Edit this wine.</a>
    <form
        action="/users/<%= user._id %>/wines/<%= wines._id %>?_method=DELETE"
        method="POST">
        <button type="submit">Yuck! Delete this wine!</button>
    </form>
</body>
</html>